/* Estilos que antes estavam inline no index.html */
.card-title {
    font-size: 1.75rem; /* Um pouco menor para se adequar ao card */
    margin-bottom: 0.5rem;
}

.links-extras a {
    color: var(--accent-yellow);
}
